@charset "UTF-8";

/*
    Nome: CSS Projeto Integrador
    Data: Abril 2019
    Descrição: Projeto de site - primeiro semestre
    Versão: 2.0
    Autor: Anderson Antunes
*/

/* Cor de fundo da página */
html {
    background-color: #E3E3E3;
    background-color: #EDEDED;
    background-color: #FaFaFa;
}

/* Tamanho e tipo da fonte geral, tamanho máximo do body e margem */
body {
    font-family: Arial, sans-serif;
    font-size-adjust: 100%;
    max-width: 1340px;
    margin: 0px auto 0px auto;
}

/* margem das caixas */
nav,
article,
section,
aside,
footer {
    margin: 10px;
    text-align: center;
}

/* Posicionando pra flutuar junto com a página */
/*.logo,*/
/*nav,*/
header {
    width: 100%;
    height: 85px;
    margin: 0px auto;
    background-color: #CCCCCC;
}

header nav {
    float: right;
    width: 76%;
    margin: 1.01% .7%;
    /*15px 10px*/
}

header ul {
    width: 96%;
    text-align: start;
}

/* Alinhamento dos itens do menu */
nav ul li {
    display: inline;
}

/* Definindo espaçamento entre links, tamanho da fonte */
nav ul li a {
    padding: .5% 2.1%;
    /*5px 20px*/
    color: #0b70ad;
    text-transform: none;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

header ul li a:hover {
    color: white;
    text-decoration: underline;
    background-color: #0B70AD;
    transition: 1s;
}

/* Posionamento e margem do logo */
.logo {
    height: 60px;
    margin: 0.8955223880597015% 0% 0.8955223880597015% 1.119402985074627%;
    /*12px 0px 12px 15px*/
}

/* Definindo estilos de texto para os parágrafos e o padding */
p {
    text-align: center;
    font-size: 1em;
    text-align: justify;
    padding: 1%;
    /*10px*/
    color: #333333;
}

/* Alinhando o texto do menu ao centro da caixa */
nav {
    margin-top: 2.5%;
    /*30px*/
}

/* Formataçao do h1 */
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

footer {
    clear: both;
    background-color: #EDEDED;
    width: 100%;
    margin: 0%;
}

/* Posicionamento e formatação dos itens do mapa */
footer nav {
    float: left;
    font-size: 78%;
    /*.8e*/
    width: 55%;
    text-align: left;
}

footer nav ul {
    text-align: left;
}

/* Retirando sublinhado dos itens do mapa */
footer nav li a {
    text-decoration: none;
    margin-left: 2.686567164179104%;
    /*18px*/
    font-size: 1em;
    font-weight: 600;
}

/* Formatação do titulo do mapa */
footer nav p {
    padding: 0%;
    font-size: .9em;
    font-family: serif;
    font-weight: bold;
    margin-right: 74.3%;
    /*400px*/
}

/* Classe para ocultar tags */
.oculto {
    display: none;
}

/***************************************************    Posicionamento das imagens do footer   ***************************************************/
footer img {
    padding-top: 2.5%;
    /*25px*/
    float: right;
    margin: 1.5% 6% 0% 0%;
    /*20px 80px 0px 0px*/
}

.qr {
    margin-top: 0%;
    margin-left: 1.5%;
    /*20px*/
}

/* Formatação e alinhamento do texto do small / "retirado" o float*/
footer p {
    margin: 0%;
    clear: both;
    text-align: center;
    font-size: .8em;
}

/***************************************************    Final do posicionamento Header e Footer (Todas as páginas)   ***************************************************/


/***************************************************    Inícion do CSS da página HOME   ***************************************************/
.homeArticle {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    border-radius: 20px;
    margin: 3.73134328358209% 18.65671641791045% 2.985074626865672% 18.65671641791045%;
    /*margin: 50px 250px 40px 250px*/
    padding: 1%;
    /*padding: 10px;*/
}

/*  Ajustando posicionamento das sections da Home   */
/*  Centralizando imagem tmeporaria */
.homeSection {
    margin: 0.7462686567164179% 0.7462686567164179% 2.238805970149254% 9.328358208955224%;
    /*10px 10px 10px 125px*/
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 3% 1% 1% 1%;
    /*30px 10px 10px 10px*/
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    width: 33.95522388059701%;
    /*455px*/
    height: 420px;
    /*500px*/
    float: left;
    text-align: center;
    position: static;
}

.dif {
    border: solid 1px #DDD;
}

.homeSection img {
    width: 100%;
}

/*    Centralizando os textos das sections na Home   */
.homeSection p {
    font-size: 1em;
    text-align: center;
}

.homeSection a {
    text-decoration: none;
    color: #333333;
}

/***************************************************    Final do CSS da página HOME   ***************************************************/


/***************************************************    Início do CSS da página TEMAS   ***************************************************/
.temaArticle {
    margin: auto;
}

.temaArticle h1 {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 3.73134328358209% 40.3134328358209% 2.985074626865672% 40.3134328358209%;
    /*50px 500px 40px 500px*/
    padding: 1%;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
}

.temaArticle figure {
    height: 270px;
    width: 20%;
    /*455px*/
    margin: 0.7462686567164179% 0.7462686567164179% 2.238805970149254% 8.328358208955224%;
    /*20px 0px 10px 120px*/
    padding: 1% 1% 1% 1%;
    /*25px 10px 20px 10px*/
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    background-color: white;
    float: left;
    text-align: center;
}

.temaArticle h2 {
    font-size: 1em;
}

/***************************************************    Final do CSS da página TEMAS   ***************************************************/


/***************************************************    Início do CSS da página PARTICIPANTES   ***************************************************/

.participantes_article {
    margin-left: 200px;
    margin-bottom: 20px;
    width: 750px;
    float: left;
}

.participantes_section1 {
    margin: auto 10px auto 20px;
    width: 50px;
    float: left;
}

.participantes_section2 {
    margin: 235px 220px 0 20px;
    height: 50px;
    float: right;
}

.participantes_section2 img {
    border-radius: 5px;
}

.participantes_section1 img {
    margin-top: 60px;
    margin-bottom: 20px;
}

.participantes {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    float: left;
    text-align: center;
    background-color: #FFFFFF;
}

.participantes_article figure {
    width: 17.91044776119403%;
    /*120px*/
    height: 18.65671641791045%;
    /*125px*/
    float: left;
}

.participantes_article img {
    border-radius: 100px;
    border: 1px solid #EFEFEF;
}

.participantes_article figcaption {
    color: #565656;
    font-weight: 600;
}

.participantes_titulo {
    margin: 3.73134328358209% auto 0 auto;
    background-color: #FFFFFF;
    width: 700px;
    box-shadow: 2px 2px 2px 0px #AAAAAA;
    border-radius: 20px 20px 0px 0px;
    padding: 2% 2% 1% 2%;
    box-sizing: border-box;
}

.text {
    margin: 0 auto 3.73134328358209% auto;
    background-color: #FFFFFF;
    width: 700px;
    box-shadow: 2px 2px 2px 0px #AAAAAA;
    border-radius: 0px 0px 20px 20px;
    padding: 0.1% 2% 2% 2%;
    box-sizing: border-box;
}

.desc {
    margin: 2.3% 2.462686567164179% 2.2% 22.6865671641791%;
    0px 100px 0px 170px background-color: #fafafa;
    box-shadow: none;
    padding: 2.5%;
}

.icon2 {
    position: relative;
    top: 40px;
}

.icon3 {
    position: relative;
    top: 85px;
}

.icon4 {
    position: relative;
    top: 130px;
}

.icon5 {
    position: relative;
    top: 175px;
}


/***************************************************    Final do CSS da página PARTICIÀNTES   ***************************************************/


/***************************************************    Início do CSS da página SOBRE   ***************************************************/

.sobre_article {
    margin-top: 20px;
    width: 70%;
    border-right: 1px solid #AAA;
    float: left;
}

.sobre_texto {
    background-color: #FFFFFF;
    margin: 3.73134328358209% 7.462686567164179% 2.985074626865672% 7.462686567164179%;
    /*50px 100px 40px 100px*/
    padding: 1%;
    /*10px*/
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
}

.sobre_info {
    width: 28%;
    margin: auto;
    float: right;
}

.sobre_info h2 {
    margin-top: 40px;
}

.sobre_info img {
    margin: 20px 0 20px 0;
    border-radius: 100%;
}

.sobre_info figure {
    margin-bottom: 50px;
}

.sobre_parceiros {
    border-bottom: 1px solid #AAA;
}

.sobre_estatistica {
    margin: 115px 0 115px 0;
}

table {
    margin: 2.985074626865672% auto 2.985074626865672% auto;
    /*197px auto*/
    font-size: 1em;
    text-align: left;
    align-content: center;
}

table,
td,
th {
    border: 1px solid;
}

td,
th {
    padding: 3px;
}

/***************************************************    Final do CSS da página SOBRE   ***************************************************/


/***************************************************    Início do CSS da página CONTATO   ***************************************************/
.article_contato {
    width: 845px;
    float: left;
    border-right: 1px solid #AAA;
}

.aside_contato {
    margin: 30px 37px;
    width: 400px;
    float: right;
}

form fieldset {
    margin: 3.73134328358209% 15% 2.985074626865672% 15%;
    /*50px 341px 0 341px*/
    border: none;
}

fieldset legend {
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

form p {
    text-align: left;
    border: 1px solid black;
    border: none;
    margin: 0.7462686567164179% auto 0% auto;
    /*10px auto 0px auto*/
    font-size: .9em;
}

form input {
    margin: auto;
    padding: 1% 0.5%;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

input[type=button] {
    margin-top: 0.7462686567164179%;
    width: 12.6%;
    /*90px*/
    text-align: center;
    display: block;
    background-color: #EDEDED;
    background-image: url(../imagens/fundo_botao.png);
}

/***************************************************    Final do CSS da página CONTATO   ***************************************************/


/***************************************************    Início do CSS da página PLAYLISTS   ***************************************************/

.playlistArticle {
    margin: 10px 0 30px 0;
    width: 50%;
    float: left;
}

.playlistArticle p {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 500px;
    margin: auto;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
}

iframe {
    width: 600px;
    margin: 20px auto;
    border: none;
}

.frame_one {
    margin-left: 335px;
}

.frame_previous {
    margin: 300px auto 0px 0;
    float: left;
}

.frame_previous img {
    border: 1px solid #ddd;
}

.frame_next {
    margin: 300px auto 0px 0;
    float: right;
}

.frame_next img {
    border: 1px solid #ddd;
}

strong {
    color: #111;
}

/***************************************************    Final do CSS da página PLAYLISTS   ***************************************************/
