@charset "UTF-8";

/*
    Nome: CSS Home Projeto Integrador
    Data: Abril 2019
    Descrição: Projeto de site primeiro semestre
    Versão: 0.5
    Autor: Anderson Antunes
*/

/** {
    margin: 0;
    padding: 0;
}*/

/* Cor de fundo da página */
html {
    background-color: #E3E3E3;
    background-color: #EDEDED;
    background-color: #FaFaFa;
}

/* Tamanho e tipo da fonte geral, tamanho máximo do body e margem */
body {
    font-family: Arial, sans-serif;
    font-size-adjust: 100%;
    max-width: 1340px;
    margin: 0px auto 0px auto;
}

/* margem das caixas */
nav,
article,
section,
aside,
footer {
    margin: 10px;
    /*10px*/
    text-align: center;
}

/* Posicionando pra flutuar junto com a página */
/*.logo,*/
/*nav,*/
header {
    width: 100%;
    height: 85px;
    /*position: sticky;*/
    /*top: 10px;*/
    margin: 0px auto;
    background-color: #CCCCCC;
}

header nav {
    float: right;
    width: 76%;
    margin: 1.01% .7%;
    /*15px 10px*/
}

header ul {
    width: 96%;
    text-align: start;
}

/* Alinhamento dos itens do menu */
nav ul li {
    display: inline;
}

/* Definindo espaçamento entre links, tamanho da fonte */
nav ul li a {
    padding: .5% 2.1%;
    /*5px 20px*/
    color: #0b70ad;
    text-transform: none;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

header ul li a:hover {
    color: white;
    text-decoration: underline;
    background-color: #0B70AD;
    transition: 1s;
}

/* Posionamento e margem do logo */
.logo {
    height: 60px;
    margin: 0.8955223880597015% 0% 0.8955223880597015% 1.119402985074627%;
    /*12px 0px 12px 15px*/
}

/* Setando estilos de texto para os parágrafos e o padding */
p {
    text-align: center;
    font-size: 1em;
    text-align: justify;
    padding: 1%;
    /*10px*/
    color: #333333;
}

/* Alinhando o texto do menu ao centro da caixa */
nav {
    /*position: fixed;*/
    margin-top: 2.5%;
    /*30px*/
}

/* Formataçao do h1 */
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

footer {
    clear: both;
    background-color: #EDEDED;
    width: 100%;
    margin: 0%;
    /*padding: 20px 69px 0px 69px;*/
}

/* Posicionamento e formatação dos itens do mapa */
footer nav {
    float: left;
    font-size: 78%;
    /*.8e*/
    width: 55%;
    text-align: left;
}

footer nav ul {
    text-align: left;
}

/* Retirando sublinhado dos itens do mapa */
footer nav li a {
    text-decoration: none;
    margin-left: 2.686567164179104%;
    /*18px*/
    font-size: 1em;
    font-weight: 600;
}

/* Formatação do titulo do mapa */
footer nav p {
    padding: 0%;
    font-size: .9em;
    font-family: serif;
    font-weight: bold;
    margin-right: 74.3%;
    /*400px*/
}

/* Classe para ocultar tags */
.oculto {
    display: none;
}

/***************************************************    Posicionamento das imagens do footer   ***************************************************/
footer img {
    padding-top: 2.5%;
    /*25px*/
    float: right;
    margin: 1.5% 6% 0% 0%;
    /*20px 80px 0px 0px*/
}

.qr {
    margin-top: 0%;
    margin-left: 1.5%;
    /*20px*/
}

/* Formatação e alinhamento do texto do small / "retirado" o float*/
footer p {
    /*border: 1px solid yellow;*/
    margin: 0%;
    /*padding-top: 1.4%;/*20px*/
    clear: both;
    text-align: center;
    font-size: .8em;
}

/***************************************************    Final do posicionamento Header e Footer (Todas as páginas)   ***************************************************/


/***************************************************    Inícion do CSS da página HOME   ***************************************************/
.homeArticle {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    border-radius: 20px;
    margin: 3.73134328358209% 18.65671641791045% 2.985074626865672% 18.65671641791045%;
    /*margin: 50px 250px 40px 250px*/
    padding: 1%;
    /*padding: 10px 10px 10px 10px;*/
}

/*  Ajustando posicionamento das sections da Home   */
/*  Centralizando imagem tmeporaria */
.homeSection {
    margin: 0.7462686567164179% 0.7462686567164179% 2.238805970149254% 9.328358208955224%;
    /*10px 10px 10px 125px*/
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 3% 1% 1% 1%;
    /*30px 10px 10px 10px*/
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    width: 33.95522388059701%;
    /*455px*/
    height: 540px;
    /*500px*/
    float: left;
    text-align: center;
    position: static;
}

.homeSection img {
    width: 100%;
}

/*    Centralizando os textos das sections na Home   */
.homeSection p {
    font-size: 1em;
    text-align: center;
}

.homeSection a {
    text-decoration: none;
    color: #333333;
}

/***************************************************    Final do CSS da página HOME   ***************************************************/


/***************************************************    Início do CSS da página TEMAS   ***************************************************/

.temaArticle h1 {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 3.73134328358209% 37.3134328358209% 2.985074626865672% 37.3134328358209%;
    /*50px 500px 40px 500px*/
    padding: 2% 0;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
}

.temaArticle figure {
    width: 33.95522388059701%;
    /*455px*/
    margin: 1.492537313432836% 0 2.238805970149254% 8.955223880597015%;
    /*20px 0px 10px 120px*/
    padding: 2.5% 1% 2% 1%;
    /*25px 10px 20px 10px*/
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    background-color: white;
    float: left;
    text-align: center;
}

.temaArticle img {
    width: 100%;
}

/***************************************************    Final do CSS da página TEMAS   ***************************************************/


/***************************************************    Início do CSS da página PARTICIPANTES   ***************************************************/

.participantes {
    margin: 0.7462686567164179% 14.92537313432836% 2.238805970149254% 14.92537313432836%;
    /*10px 200px*/
    padding: 0px 0px 0px 0px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    float: left;
    text-align: center;
    background-color: #FFFFFF;
}

.participantesArticle figure {
    width: 17.91044776119403%;
    /*120px*/
    height: 18.65671641791045%;
    /*125px*/
    float: left;
    padding: ;
    background-color: ;
}

.participantesArticle img {
    border-radius: 100px;
    border: 1px solid #EFEFEF;
}

.participantesArticle figcaption {
    color: #565656;
    font-weight: 600;
}

.participantesArticle h1 {
    margin: 3.73134328358209% auto 0 auto;
    background-color: #FFFFFF;
    width: 700px;
    box-shadow: 2px 2px 2px 0px #AAAAAA;
    border-radius: 20px 20px 0px 0px;
    padding: 2% 2% 1% 2%;
    box-sizing: border-box;
}

.text {
    margin: 0 auto 3.73134328358209% auto;
    background-color: #FFFFFF;
    width: 700px;
    box-shadow: 2px 2px 2px 0px #AAAAAA;
    border-radius: 0px 0px 20px 20px;
    padding: 0.1% 2% 2% 2%;
    box-sizing: border-box;
}

.desc {
    margin: 2.3% 7.462686567164179% 2.2% 12.6865671641791%;
    /*0px 100px 0px 170px*/
    box-shadow: none;
    padding: 2.5%;
}


/***************************************************    Final do CSS da página PARTICIÀNTES   ***************************************************/


/***************************************************    Início do CSS da página SOBRE   ***************************************************/

.sobre {
    background-color: #FFFFFF;
    margin: 3.73134328358209% 7.462686567164179% 2.985074626865672% 7.462686567164179%;
    /*50px 100px 40px 100px*/
    padding: 1%;
    /*10px*/
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
}

table {
    /*197px*/
    margin: 2.985074626865672% auto 2.985074626865672% auto;
    font-size: 1em;
    text-align: left;
    align-content: center;
}

table,
td,
th {
    border: 1px solid;
}

td,
th {
    padding: 3px;
}

/***************************************************    Final do CSS da página SOBRE   ***************************************************/


/***************************************************    Início do CSS da página CONTATO   ***************************************************/

form fieldset {
    margin: 3.73134328358209% 25.44776119402985% 2.985074626865672% 25.44776119402985%;
    /*50px 341px 0 341px*/
    border: none;
}

fieldset legend {
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

form p {
    text-align: left;
    border: 1px solid black;
    border: none;
    margin: 0.7462686567164179% auto 0% auto;
    /*10px auto 0px auto*/
    font-size: .9em;
}

form input {
    margin: auto;
    padding: 1% 0.5%;
    width: 98%;
    /*600px*/
    height: 100%;
    /*25px*/
    display: block;
    border-radius: 5px;
}

form textarea {
    width: 98%;
    /*600px*/
    height: 300px;
    /*300px*/
    margin: auto;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

input[type=button] {
    margin-top: 0.7462686567164179%;
    /**/
    width: 25%;
    /*100px*/
    text-align: center;
    display: block;
}

/***************************************************    Final do CSS da página CONTATO   ***************************************************/


/***************************************************    Início do CSS da página PLAYLISTS   ***************************************************/

.playlistArticle img {
    margin: 3.73134328358209% 32%;
    /*50px 442.5px*/
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    width: 32%;
    /*455px*/
    height: 37.3134328358209%;
    /*500px*/
}

.playlistArticle p {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    border-radius: 20px;
    margin: auto 29.85074626865672% 3.73134328358209% 29.85074626865672%;
    /* auto 400px 50px 400px */
    padding: 1%;
    /*padding: 10px 10px 10px 10px;*/
}

/***************************************************    Final do CSS da página PLAYLISTS   ***************************************************/
